.b-list__scroll_container {
	display: inline-block;
	vertical-align: top;
	position: relative;
	overflow: hidden;
	width: 200px;
	height: 500px;
	background: #fff;
	text-align: left;
}

.b-list__scroll {
	height: 100%;
	overflow-y: scroll;
}

.b-list__scroll::-webkit-scrollbar {
	width: 0;
}

.b-list__container_scrollbar {
	position: absolute;
	z-index: 3;
	top: 10px;
	bottom: 10px;
	right: 5px;
	width: 8px;
	border-radius: 5px;
	background: #ddf;
	background: rgba(0, 0, 255, 0.1);
	pointer-events: none;
}

.b-list_scrollbar {
	position: absolute;
	z-index: 1;
	width: 8px;
	border-radius: 3px;
	background: #987;
	opacity: 0.8;
	-webkit-transition: opacity .2s linear;
	transition: opacity .2s linear;
	pointer-events: auto;
}

.b-list__event {
	width:100%;
	background-color:white;
	list-style-type:none;
	margin:0;
	padding:5px;
	padding-right:20px;
	box-sizing:border-box;
}


.b-list__event_item {
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	position:relative;
}

.b-list__event_item_title {
	position:relative;
}

.b-list__fading_text {
	width:100%;
	height:100%;
	position:absolute;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.9), rgba(255,255, 255, 0));
	top:0px;
}
